/* .about-change {
  font-family: "Sorts Mill Goudy";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
} */

.countdown-box {
  /* font-family: "Sorts Mill Goudy", sans-serif; */
  /* background-color: #e8e3de; */
  /* background-color: #343638; */
  filter: brightness(2);
  border-radius: 50px;
  width: 80%;
  margin: auto;
  /* margin-right: 5%; */
  /* box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1); */
}

@media only screen and (max-width: 900px) {
  .countdown-box {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 600) {
  .countdown-box {
    width: 100%;
    margin: auto;
  }
}

.unbright {
  filter: brightness(0.5);
}

.countdown-header {
  font-family: "Sorts Mill Goudy", "Inter", sans-serif;
  padding-top: 3rem;
}

.countdown-header-words {
  font-size: 20pt;
}

.about-final-countdown-container {
  text-align: center;
  /* margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

.about-final-countdown-container-bottom {
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}

/* .final-countdown {
  text-align: center;
} */

.final-countdown-mini-container-first {
  /* margin: 1px; */
  width: 20%;
  text-align: center;
  /* border: 1px solid gray; */
  display: inline-block;
}

.final-countdown-mini-container {
  /* margin: 1px; */
  width: 20%;
  text-align: center;
  /* border: 1px solid gray; */
  display: inline-block;
}

.final-countdown-colon {
  font-size: 45pt;
}

#final-countdown-days {
  font-size: 60pt;
}

#final-countdown-hours {
  font-size: 60pt;
}

#final-countdown-minutes {
  font-size: 60pt;
}

#final-countdown-seconds {
  font-size: 60pt;
}

.final-countdown-mini-container-word-first {
  /* margin: 1px; */
  width: 20%;
  text-align: center;
  /* padding-right: rem; */
  /* border: 1px solid gray; */
  display: inline-block;
}

.final-countdown-mini-container-word {
  /* margin: 1px; */
  width: 20%;
  text-align: center;
  /* padding-right: 2rem; */

  /* border: 1px solid gray; */
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .final-countdown-mini-container-first {
    /* margin: 1px; */
    width: 20%;
    text-align: center;
    /* border: 1px solid gray; */
    display: inline-block;
  }

  .final-countdown-mini-container {
    /* margin: 1px; */
    width: 20%;
    text-align: center;
    /* border: 1px solid gray; */
    display: inline-block;
  }

  .final-countdown-colon {
    font-size: 35pt;
  }

  #final-countdown-days {
    font-size: 35pt;
  }

  #final-countdown-hours {
    font-size: 35pt;
  }

  #final-countdown-minutes {
    font-size: 35pt;
  }

  #final-countdown-seconds {
    font-size: 35pt;
  }
}

.sign-up-botton-container {
  padding-bottom: 0rem;
}

.about-container {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 80px;
}

.about-montage-theme-container {
  padding-top: 3rem;
  letter-spacing: 4px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.about-montage-content {
  padding-right: 5rem;
  padding-left: 5rem;
}

@media screen and (max-width: 768px) {
  .about-montage-content {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .about-container {
    /* backdrop-filter: blur(20px); */
    border-radius: 50px;
  }
}

@media screen and (max-width: 480px) {
  .about-montage-content {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .about-container {
    /* backdrop-filter: blur(20px); */
    border-radius: 30px;
  }
}
