.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: 3em;
  margin-right: 3rem;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.exhibition-header {
  padding-bottom: 5rem;
}

@media only screen and (max-width: 900px) {
  .exhibition-header {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .exhibition-header {
    padding-bottom: 2rem;
  }
}

/* #exhibition {
  background-color: #343638;
} */

.exhibition-box {
  background-color: rgba(228, 231, 231, 0.418);
  border-radius: 35px;
  width: 80%;
  margin-left: 10%;
  padding-left: 2rem;
  padding-right: 2rem;

  /* margin-right: 5%; */
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.exhibition-box div {
  padding: 13px;
}

.exhibition-section-header {
  padding-bottom: 5rem;
}

.exhibition-container {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-top: 5rem;
  border-radius: 80px;
}

.exhibition-details {
  padding-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 480px) {
  .exhibition-details {
    padding-left: 1rem;
    margin-right: 1rem;
  }

  .map-responsive {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .exhibition-container {
    padding-top: 2rem;
    border-radius: 40px;
  }
}
