#footer {
  padding: 6em 2em 4em 2em;
}

#footer > .inner {
  margin: 0 auto;
  width: 80em;
}

#footer .copyright {
  color: #000;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
}

#footer .copyright .icons a {
  border-radius: 100%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 
              0px 0px 0px 4px #fff, 
              0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  margin: 0 auto 0.7em;
  text-align: center;
  width: 3em;
}

a {
  color: #e3d5c6;
}

a:hover {
  color: #4d4d4d;
}

@media screen and (max-width: 1280px) {

  #footer > .inner {
    width: 65em;
  }

}

@media screen and (max-width: 980px) {

  #footer > .inner {
    width: 90%;
  }

}

@media screen and (max-width: 736px) {

  #footer {
    padding: 3em 1em 1em 1em;
  }

}
