.home-logo {
  width: 35em;
}

@media only screen and (max-width: 900px) {
  .home-logo {
    width: 30rem;
  }
}

@media only screen and (max-width: 600px) {
  .home-logo {
    width: 15rem;
  }
}
