.section-header__container {
  /* background-color: #343638; */
  padding-bottom: 3rem;
}

.section-header__container-top-about {
  padding-bottom: 0rem;
}

.section-header__container__competition {
}

.section-header {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy", "Inter", sans-serif;
  font-size: 13pt;
  letter-spacing: 15px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-signup {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy", "Inter", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-competition {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy", "Inter", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-competition__container {
  padding-top: 2rem;
}

.section-header__year {
  font-size: 1.5rem;
}

/* @media screen and (max-width: 900px) {
} */

.section-header-about {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy", "Inter", sans-serif;
  font-size: 15pt;
  letter-spacing: 5px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-about-nusps {
  background-color: #604242;
  font-size: 1.5rem;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .section-header-about-nusps {
    font-size: 1rem;
  }

  .section-header {
    border-radius: 40px;
    color: white;
    font-size: 10pt;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 780px) {
  .section-header-about-nusps {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .section-header {
    border-radius: 40px;
    color: white;
    font-size: 8pt;
    letter-spacing: 6px;
    padding: 5px 30px;
  }

  .section-header__year {
    font-size: 1rem;
  }

  .section-header-brian {
    font-size: 13pt;
  }
}

@media screen and (max-width: 665px) {
  .section-header-bica {
    font-size: 13pt;
  }
}

@media screen and (max-width: 600px) {
  .section-header-brian,
  .section-header-lauryn {
    font-size: 13pt;
  }
}

@media screen and (max-width: 480px) {
  .section-header-bica {
    font-size: 10pt;
  }
}

@media screen and (max-width: 441px) {
  .section-header-bica {
    font-size: 9pt;
  }
}

@media screen and (max-width: 400px) {
  .section-header-lauryn {
    font-size: 9pt;
  }
}

@media screen and (max-width: 400px) {
  .section-header-bica {
    font-size: 7pt;
  }
}

@media screen and (max-width: 378pt) {
  .section-header-lauryn {
    font-size: 7pt;
  }
}

@media screen and (max-width: 365px) {
  .section-header-brian {
    font-size: 7pt;
  }
}

@media screen and (max-width: 353px) {
  .section-header-lauryn,
  .section-header-bica {
    font-size: 6pt;
  }
}

@media screen and (max-width: 338px) {
  .section-header-lauryn {
    font-size: 6pt;
  }
  .section-header-bica {
    font-size: 5pt;
  }
}
