.section-header__container {
  background-color: #a6adb4;
}

.section-header__container__competition {
}

.section-header {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy";
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-competition {
  background-color: #4b3f3f;
  border-radius: 40px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Sorts Mill Goudy";
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
}

.section-header-competition__container {
  padding-top: 2rem;
}

.section-header__year {
  font-size: 1.8rem;
}

/* @media screen and (max-width: 900px) {
} */

@media screen and (max-width: 600px) {
  .section-header {
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    letter-spacing: 2.5px;
    padding: 5px 30px;
  }

  .section-header__year {
    font-size: 1rem;
  }
}
